In [1]:
# 1. Crear una variable que contenga un elemento del conjunto de los números enteros y luego imprimir por pantalla
x = 13
print (x)

13

In [2]:
# 2. Imprimir el tipo de dato de la constante 8.5
number = 8.5 
print (number)

8.5

In [3]:
# 3. Imprimir el tipo de la variable del punto 1
type(x)

int

In [4]:
# 4. Crear una variable que contenga tu nombre
Name1 = "Carlos"
print (Name1)

Carlos

In [7]:
# 5. Crear una variable que contenga un número complejo
C1 = "5+2j"
print(C1)

5+2j

In [8]:
# 6. Mostrar el tipo de variable creada en el punto 5
type (C1)

str

In [12]:
# 7. Crea una variable que contenga el valor del número Pi redondeado a 4 decimales
Pi = float(3.1416) 
print(Pi)

3.1416

In [19]:
# 8. Crear una variable que contenga el valor 'True' y otra que contenga el valor True ¿Son lo mismo?
T1 = 'True'
print(type(T1))
T2 = True
print(type(T2))
T3 = bool('True')
print(type(T3))
# 'True' es un tipo de dato String & True es un tipo de dato Booleano entonces no son lo mismo

<class 'str'>
<class 'bool'>
<class 'bool'>

In [20]:
# 9. Imprimir el tipo de dato correspondiente a las variables del punto 8
print(type(T1))
print(type(T2))
print(type(T3))

<class 'str'>
<class 'bool'>
<class 'bool'>

In [22]:
# 10. Asignar a una variable, la suma de un entero y un decimal
Sum1 = x + number
print(Sum1)

21.5

In [26]:
# 11. Realizar una operación de suma de numeros complejos
C2 = 3+1j
type(C2)
C3 = 1-1j
C4 = C2+C3
print(C4)

(4+0j)

In [30]:
# 12. Realizart la suma de un número real y un número complejo
R1 = 9.8
type(R1)
C5 = 2-1J
C6 = R1+C5
print(type(C6))
print(C6)

<class 'complex'>
(11.8-1j)

In [31]:
# 13. Realizar una operación de multiplicación
M1 = R1*x
print(M1)

127.4

In [32]:
# 14. Mostrar el resultado de elevar 2 a la octava poetencia
2**8

256

In [33]:
# 15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
D1 = 27/4
print(D1)

6.75

In [34]:
# 16. De la divisón solmanete mostrar la parte entera
D2 = 27//4
print(D2)

6

In [36]:
# 17. De la división entre 27 y 4 mostrar solamente el resto
MOD1 = (27%4)
print (MOD1)

3

In [38]:
# 18. Utilizando como operadores el númnero 4 y los resultados obtenidos en 16 y 17, obtener 27 como resultado
print(4*D1)
print(4*D2+MOD1)

27.0
27

In [39]:
# 19. Utilizar el operador "+" en una operación donde intervenga solo variables alfanumericas
V1 = "1A3B5C"
V2 = "6D7F9G"
print (V1+V2)

1A3B5C6D7F9G

In [44]:
# 20. Evaluar si '2' es igual a 2 ¿Por que ocurre eso?
N1 = '2'
print(type(N1))
N2 = 2
print(type(N2))
bool('2'==2)
# Ocurre por que son dos tipos de datos distintos

<class 'str'>
<class 'int'>

False

In [46]:
# 21. Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera
N3 = int('2')
print(type(N3))
N2 = 2
print(type(N2))
bool(N3==N2)

<class 'int'>
<class 'int'>

True

In [48]:
# 22. ¿Por que arroja error el siguiente cambio de tipo de datos?
a = float ('3,8')
# Por que python no reconoce decimales a partir de la separación de la coma

ValueError: could not convert string to float: '3,8'

In [49]:
# 23. Crear una variable con el valor 3, utilizar el operador '-=' para modificar su contenido y que de como resultado 2
V3 =3
V3-=1
print(V3)

2

In [50]:
# 24. Realizar la operación 1 << 2 ¿Por que el resultado? ¿Qué es es¿l sistema de numeración binario?
1 << 2
# 1 = 0001, por ende al aplicar 1 << 2 tenemos 0100 = (0 * 2^3)+(1 * 2^2)+(0 * 2^1)+(0 * 2^0)=0+4+0+0=4

4

In [51]:
# 25. Realizar la operación 2 + '2' ¿Por que no esta permitido? ¿Si los operandos serian del mismo tipo siempre arrojaria el mismo resultado?
N1 = '2'
print(type(N1))
N2 = 2
print(type(N2))
N1+N2
bool('2'==2)
# No esta permitido por que son dos tipos de variables distintas

<class 'str'>
<class 'int'>

TypeError: can only concatenate str (not "int") to str

In [53]:
# 25. Realizar la operación 2 + '2' ¿Por que no esta permitido? ¿Si los operandos serian del mismo tipo siempre arrojaria el mismo resultado?
N3 = int('2')
print(type(N3))
N2 = 2
print(type(N2))
print(N3+N2)
bool(N3==N2)

N3 = '2'
print(type(N3))
N2 = str(2)
print(type(N2))
print(N3+N2)
bool(N3==N2)
# Si los operandos son del mismo tipo, a diferente tipo de variable diferente tipo de resultado 'srt + str = str' ó 'int + int = int'

<class 'int'>
<class 'int'>
4
<class 'str'>
<class 'str'>
22

True

In [62]:
# Realizar una operación valida entre valores de tipo entro y string
z = range (0,5)
w = ('a','e','i','o')
print(z!=w)

True